Flask[async]==2.0.1
toml~=0.10.1
pip~=20.2.4
zlib~=1.2.11
wheel~=0.35.1
openssl~=1.1.1h
cryptography~=3.1.1
py~=1.9.0
lxml~=4.6.1
keyring~=21.4.0
setuptools~=50.3.1
cython~=0.29.21
locust
elasticsearch>=7.8.0
aiohttp